In [1]:
import numpy as np 
import pandas as pd

In [2]:
credits=pd.read_csv('credits.csv')

In [3]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [4]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [5]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [6]:
meta =pd.read_csv('movies_metadata.csv')

C:\Users\lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [8]:
meta['release_date']=pd.to_datetime(meta['release_date'],errors='coerce')

In [9]:
meta['year']=meta['release_date'].dt.year

In [10]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [11]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [12]:
new_meta

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [13]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [14]:
data = pd.concat([new_meta,credits],axis=1,join="inner")

In [15]:
pd.set_option('display.max_colwidth', 75)
data

,genres,id,title,year,cast,crew,id
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 2, 'character': 'Mario Colella', 'credit_id': '52fe48c7c3a...","[{'credit_id': '5745ddb792514129a0002fcc', 'department': 'Editing', 'ge...",74379
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 5, 'character': ""Scarface' Manzari"", 'credit_id': '52fe470...","[{'credit_id': '52fe4705c3a368484e0b0e7d', 'department': 'Writing', 'ge...",65320
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 2, 'character': 'Hache', 'credit_id': '52fe4ac1c3a36847f81...","[{'credit_id': '52fe4ac1c3a36847f81dffa1', 'department': 'Directing', '...",109689
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 2, 'character': 'Max Rockatansky', 'credit_id': '52fe4933c...","[{'credit_id': '53d451210e0a262841002dd1', 'department': 'Writing', 'ge...",76341
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 19, 'character': 'Woo-shik', 'credit_id': '53de573f0e0a265...","[{'credit_id': '52fe478bc3a36847f813b5b5', 'department': 'Production', ...",49214
...,...,...,...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,[],"[{'credit_id': '52fe4cbf9251416c751245d1', 'department': 'Directing', '...",184402
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 1001, 'character': 'Tolik', 'credit_id': '52fe49ea9251416c...","[{'credit_id': '52fe49ea9251416c750d781f', 'department': 'Directing', '...",97672
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,"[{'cast_id': 1, 'character': 'Joanna', 'credit_id': '5977c41fc3a3682cfd...","[{'credit_id': '562e344bc3a3681b5c00ab29', 'department': 'Directing', '...",365432
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,"[{'cast_id': 2, 'character': '', 'credit_id': '5497407ac3a36831b80045cb...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'department': 'Directing', '...",49279
45465,[],461257,Queerama,2017.0,"[{'cast_id': 5, 'character': '', 'credit_id': '52fe475bc3a368484e0c2a91...","[{'credit_id': '5330178a9251413a720055e3', 'department': 'Writing', 'ge...",67179

In [16]:
import ast
data['genres']=data['genres'].map(lambda x:ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [17]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [18]:
data['genres_list']=data['genres'].map(lambda x: make_genresList(x))

In [19]:
data['genres_list']

26560    Adventure Action Fantasy Comedy
26561    Action Adventure Fantasy Sci-Fi
26565    Action Adventure Fantasy Sci-Fi
26566     Action Adventure Comedy Sci-Fi
30536           Fantasy Action Adventure
                      ...
45398                     Romance Comedy
45417         Crime Comedy Action Family
45437    Family Animation Romance Comedy
45453               Crime Drama Thriller
45465                                NaN
Name: genres_list, Length: 532, dtype: object

In [20]:
def get_actor1(x):
    casts=[]
    for i in x:
        casts.append(i.get('name'))
    if casts ==[] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[0])

In [21]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [22]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [23]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [24]:
data['actor_2_name']

26560        James Mason
26561          Al Cliver
26565         Clara Lago
26566    Charlize Theron
30536          Han Ga-in
              ...
45398                NaN
45417     Yuriy Kutsenko
45437      Mark Matechuk
45453                NaN
45465      Renato CestiÃ¨
Name: actor_2_name, Length: 532, dtype: object

In [25]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [26]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [27]:
data['actor_3_name']

26560        Marino MasÃ©
26561         Harry Baer
26565     MarÃ­a Valverde
26566     Nicholas Hoult
30536       Won-kwon Kim
              ...
45398                NaN
45417    Alexey Vorobyov
45437     Krista Madison
45453                NaN
45465       Vito Cipolla
Name: actor_3_name, Length: 532, dtype: object

In [28]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [29]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [30]:
data['director_name']

26560                   Fernando Di Leo
26561                   Fernando Di Leo
26565          Fernando GonzÃ¡lez Molina
26566                     George Miller
30536                            Yoo Ha
                      ...
45398                   Walter Ruttmann
45417                      Egor Baranov
45437                      John Ainslie
45453                    Georges MÃ©liÃ¨s
45465    Paolo Taviani Vittorio Taviani
Name: director_name, Length: 532, dtype: object

In [31]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [32]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
26560,Fernando Di Leo,Luc Merenda,James Mason,Marino MasÃ©,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
26561,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,Justice League
26565,Fernando GonzÃ¡lez Molina,Mario Casas,Clara Lago,MarÃ­a Valverde,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
26566,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
30536,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,The King's Daughter
...,...,...,...,...,...,...
45398,Walter Ruttmann,NaN,NaN,NaN,Romance Comedy,Thick Lashes of Lauri MÃ¤ntyvaara
45417,Egor Baranov,Evgeniy Stychkin,Yuriy Kutsenko,Alexey Vorobyov,Crime Comedy Action Family,Cop and a Half: New Recruit
45437,John Ainslie,Tianna Nori,Mark Matechuk,Krista Madison,Family Animation Romance Comedy,In a Heartbeat
45453,Georges MÃ©liÃ¨s,NaN,NaN,NaN,Crime Drama Thriller,Mom
45465,Paolo Taviani Vittorio Taviani,Giulio Brogi,Renato CestiÃ¨,Vito Cipolla,NaN,Queerama

In [33]:
movie.isna().sum()

director_name    19
actor_1_name     76
actor_2_name     76
actor_3_name     94
genres_list       8
title             0
dtype: int64

In [34]:
movie = movie.dropna(how='any')

In [35]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [36]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [37]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [38]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [39]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
26560,Fernando Di Leo,Luc Merenda,James Mason,Marino MasÃ©,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Luc Merenda James Mason Marino MasÃ© Fernando Di Leo Adventure Action Fa...
26561,Fernando Di Leo,Jack Palance,Al Cliver,Harry Baer,Action Adventure Fantasy Sci-Fi,justice league,Jack Palance Al Cliver Harry Baer Fernando Di Leo Action Adventure Fant...
26565,Fernando GonzÃ¡lez Molina,Mario Casas,Clara Lago,MarÃ­a Valverde,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Mario Casas Clara Lago MarÃ­a Valverde Fernando GonzÃ¡lez Molina Action A...
26566,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Tom Hardy Charlize Theron Nicholas Hoult George Miller Action Adventure...
30536,Yoo Ha,Lee Jung-Jin,Han Ga-in,Won-kwon Kim,Fantasy Action Adventure,the king's daughter,Lee Jung-Jin Han Ga-in Won-kwon Kim Yoo Ha Fantasy Action Adventure
...,...,...,...,...,...,...,...
45375,Cliff Owen,Eric Morecambe,Ernie Wise,Suzanne Lloyd,Fantasy Comedy Romance Drama,phillauri,Eric Morecambe Ernie Wise Suzanne Lloyd Cliff Owen Fantasy Comedy Roman...
45380,Fernando Salem,VerÃ³nica Gerez,Pilar Gamboa,Rafael Spregelburd,Romance Comedy,the incredible jessica james,VerÃ³nica Gerez Pilar Gamboa Rafael Spregelburd Fernando Salem Romance C...
45391,Svyatoslav Podgayevskiy,Mariya Fomina,Dmitri Yendaltsev,Boris Polunin,Romance,can't buy my love,Mariya Fomina Dmitri Yendaltsev Boris Polunin Svyatoslav Podgayevskiy R...
45417,Egor Baranov,Evgeniy Stychkin,Yuriy Kutsenko,Alexey Vorobyov,Crime Comedy Action Family,cop and a half: new recruit,Evgeniy Stychkin Yuriy Kutsenko Alexey Vorobyov Egor Baranov Crime Come...
45437,John Ainslie,Tianna Nori,Mark Matechuk,Krista Madison,Family Animation Romance Comedy,in a heartbeat,Tianna Nori Mark Matechuk Krista Madison John Ainslie Family Animation ...

In [40]:
data_1 = pd.read_csv('data.csv')

In [41]:
data_1

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,ActionAdventureFantasySci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,ActionAdventureFantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,ActionAdventureThriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,ActionThriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens
...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,ComedyDrama,signed sealed delivered
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,CrimeDramaMysteryThriller,the following
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,DramaHorrorThriller,a plague so pleasant
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,ComedyDramaRomance,shanghai calling
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew

In [42]:
data_1['comb'] = data_1['actor_1_name'] + ' ' + data_1['actor_2_name'] + ' '+ data_1['actor_3_name'] + ' '+ data_1['director_name'] +' ' + data_1['genres']

In [43]:
data_1

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,ActionAdventureFantasySci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron ActionAdventureFan...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,ActionAdventureFantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski ActionAdventure...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,ActionAdventureThriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes ActionAdventur...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,ActionThriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan ActionT...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,ComedyDrama,signed sealed delivered,Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith ComedyDrama
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,CrimeDramaMysteryThriller,the following,Natalie Zea Valorie Curry Sam Underwood unknown CrimeDramaMysteryThriller
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,DramaHorrorThriller,a plague so pleasant,Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds DramaHorrorTh...
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,ComedyDramaRomance,shanghai calling,Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia ComedyDramaRomance
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew,John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

In [44]:
 data_2= data_1.append(movie)

In [45]:
data_2

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,ActionAdventureFantasySci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron ActionAdventureFan...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,ActionAdventureFantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski ActionAdventure...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,ActionAdventureThriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes ActionAdventur...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,ActionThriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan ActionT...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
45375,Cliff Owen,Eric Morecambe,Ernie Wise,Suzanne Lloyd,Fantasy Comedy Romance Drama,phillauri,Eric Morecambe Ernie Wise Suzanne Lloyd Cliff Owen Fantasy Comedy Roman...
45380,Fernando Salem,VerÃ³nica Gerez,Pilar Gamboa,Rafael Spregelburd,Romance Comedy,the incredible jessica james,VerÃ³nica Gerez Pilar Gamboa Rafael Spregelburd Fernando Salem Romance C...
45391,Svyatoslav Podgayevskiy,Mariya Fomina,Dmitri Yendaltsev,Boris Polunin,Romance,can't buy my love,Mariya Fomina Dmitri Yendaltsev Boris Polunin Svyatoslav Podgayevskiy R...
45417,Egor Baranov,Evgeniy Stychkin,Yuriy Kutsenko,Alexey Vorobyov,Crime Comedy Action Family,cop and a half: new recruit,Evgeniy Stychkin Yuriy Kutsenko Alexey Vorobyov Egor Baranov Crime Come...
45437,John Ainslie,Tianna Nori,Mark Matechuk,Krista Madison,Family Animation Romance Comedy,in a heartbeat,Tianna Nori Mark Matechuk Krista Madison John Ainslie Family Animation ...

In [48]:
data_2.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [49]:
data_2

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,ActionAdventureFantasySci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron ActionAdventureFan...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,ActionAdventureFantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski ActionAdventure...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,ActionAdventureThriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes ActionAdventur...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,ActionThriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan ActionT...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
45375,Cliff Owen,Eric Morecambe,Ernie Wise,Suzanne Lloyd,Fantasy Comedy Romance Drama,phillauri,Eric Morecambe Ernie Wise Suzanne Lloyd Cliff Owen Fantasy Comedy Roman...
45380,Fernando Salem,VerÃ³nica Gerez,Pilar Gamboa,Rafael Spregelburd,Romance Comedy,the incredible jessica james,VerÃ³nica Gerez Pilar Gamboa Rafael Spregelburd Fernando Salem Romance C...
45391,Svyatoslav Podgayevskiy,Mariya Fomina,Dmitri Yendaltsev,Boris Polunin,Romance,can't buy my love,Mariya Fomina Dmitri Yendaltsev Boris Polunin Svyatoslav Podgayevskiy R...
45417,Egor Baranov,Evgeniy Stychkin,Yuriy Kutsenko,Alexey Vorobyov,Crime Comedy Action Family,cop and a half: new recruit,Evgeniy Stychkin Yuriy Kutsenko Alexey Vorobyov Egor Baranov Crime Come...
45437,John Ainslie,Tianna Nori,Mark Matechuk,Krista Madison,Family Animation Romance Comedy,in a heartbeat,Tianna Nori Mark Matechuk Krista Madison John Ainslie Family Animation ...

In [50]:
data_2.to_csv('new_data.csv',index=False)